<div class="app-box">
  <div>Voucher</div>
</div>
<div class="app-box">
  <tally-utility-app-card
    name="Jounal"
    link="create_journal"
  ></tally-utility-app-card>
  <tally-utility-app-card
    name="Payment"
    link="create_payment"
  ></tally-utility-app-card>
  <tally-utility-app-card
    name="Receipt"
    link="create_receipt"
  ></tally-utility-app-card>
  <tally-utility-app-card
    name="Sale"
    link="create_sale"
  ></tally-utility-app-card>
  <tally-utility-app-card
    name="Purchase"
    link="create_purchase"
  ></tally-utility-app-card>
  <tally-utility-app-card
    name="Stock Purchase"
    link="create_stock_purchase"
    className="wip"
  ></tally-utility-app-card>
  <tally-utility-app-card
    name="Stock Sale"
    link="create_stock_sale"
    className="wip"
  ></tally-utility-app-card>
</div>
<div class="app-box">
  <div>Master</div>
</div>
<div class="app-box">
  <tally-utility-app-card
    name="Ledger"
    link="create_ledger"
    className="wip"
  ></tally-utility-app-card>
  <tally-utility-app-card
    name="Inventory"
    link="create_inventory"
    className="wip"
  ></tally-utility-app-card>
</div>
